*{
  padding: 0;
  margin: 0;
}

.main{
  background-color: #ccc;
}

.cards{
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card{
  padding: 20px;
  width: 250px;
  height: 450px;
  background-color: white;
  box-shadow: 7px 7px 5px gray;
  border-radius: 20px;
  position: relative;
}

.recImage img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.recImage{
  height: 250px;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}



.tags{
  display: flex;
  gap: 10px;
}
.tags p{
  background-color: rgb(223, 221, 221);
  padding: 3px 6px;
  border-radius: 8px;
}

.info h3{
  font-size: 18px;
}

.btn button{
  padding: 7px 15px;
}






span{
  position: absolute;
  font-weight: lighter;
  top: 255px;
  right: 10px;
  font-size: 16px;
  padding: 2px 8px;
  background-color: rgb(241, 219, 219);
  border-radius: 8px;
  color: red;
}