*{
  padding: 0;
  margin: 0;
}

.main{
  background-color: #ccc;
}

.cards{
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card{
  padding: 20px;
  width: 255px;
  height: 450;
  cursor: pointer;
  background-color: white;
  box-shadow: 7px 7px 5px gray;
  border-radius: 20px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.card:hover{
  transform: translateY(-12px);
  transition: all 0.3s ease-in-out;
}

.recImage img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.recImage{
  height: 220px;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
}




.c-top{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.tags{
  display: flex;
  gap: 10px;
}
.tags p{
  background-color: rgb(223, 221, 221);
  padding: 3px 6px;
  border-radius: 8px;
  font-size: 14px;
}

.info h3{
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn button{
  padding: 7px 15px;
}


.rating{
  width: 17px;
}


.btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.rat{
  display: flex;
  gap: 15px;
  align-items: center;
}


.diff{
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: rgb(226, 255, 226);
  color: green;
  padding: 5px 10px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 15px;
}

.d{
  display: flex;
  align-items: center;
  gap: 3px;
}

.descr{
  font-size: 13px;
  
}

span{
  position: absolute;
  font-weight: lighter;
  top: 228px;
  right: 10px;
  font-size: 16px;
  padding: 2px 8px;
  background-color: rgb(241, 219, 219);
  border-radius: 8px;
  color: red;
  font-weight: 400;
}